body{
  margin: 0;
    font-family: "Roboto", sans-serif;
  }
  
header{
  background-color: rgb(197, 197, 219);
  padding: 50px;
  text-align: center;
  color:black                                                                                                                                                                                                                     ;
}
header img{
  height: 150px;
  border-radius: 50%;
}

nav{
background-color: rgb(192, 184, 184);
text-align: center;
}

nav ul{
margin: 0;
padding: 25px;
}

nav ul li{
  display: inline;
  padding: 100px;
}

nav ul li a{
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(80, 74, 100);
}

section{
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
  background-color: rgb(192, 192, 211);
}

footer{
  background-color: rgb(9, 9, 10);
  text-align: center;
  color: white;
}

.button{
border: 0;
color: #7d7f81;
padding: 10px;
}

.button:hover{
  cursor: pointer;
  color: #c5bdbd;
  background-color: #8697A6;
}

.invalid {
  border: 2px solid red;
}

@media only screen and (max-width:600px) {
  nav ul li {
    margin: 150px;
  }
  
}